/next-env.d.ts
/dist
/node_modules
/tsconfig.tsbuildinfo
/.next

/cypress/videos/
/cypress/screenshots/
/cypress/results/*

/prisma/database/
/prisma/generated/

/.idea/.idea.mnestix-frontend.dir/.idea/

/.env
!.env.local
/.env*.local
/cypress-artifacts

# Auto-copied from node_modules by postinstall
/public/_static/pdf.worker.min.mjs